.sidebar {
    width: var(-sidebar-w);
    background: var(-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 0 24px;
    border-right: 1px solid var(-grey-200);
  
    
}